.container{
    width: 100%;
  max-width: 1024px;
  margin: auto;
}
.row{
    display: flex;
  justify-content: center;
}
.accordian h1{  }
.accordian button{
    background: #1eb4ff;
  padding: 10px 15px;
  border-radius: 5px;
  border: navajowhite;
  color: white;
}
.accordian-title{
    display: flex;
    justify-content: space-between;
    background-color: #009f00;
    color: white;
    align-items: center;
    padding: 15px 20px;
    margin: 20px 0 0;
    border-radius:5px 5px 0 0;
}
.accordian-title:hover{
    cursor:pointer;
}
.accordian-title > .items{
    padding: 0;
  margin: 0;
}
.accordian-detils{padding: 15px 20px;
    background: #efefef;
    border-radius:0 0 2px 2px;
}